tensorflow==2.16.1
scikit-learn==1.5.0
xgboost==2.0.3
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
imbalanced-learn==0.12.3
psutil==5.9.8
seaborn==0.13.2
jupyter==1.0.0
absl-py==2.1.0
anyio==4.4.0
appnope==0.1.2
argon2-cffi==21.3.0
attrs==23.1.0
beautifulsoup4==4.12.2
bleach==4.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==2.0.4
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
frozendict==2.4.2
gast==0.5.4
grpcio==1.62.2
h5py==3.11.0
idna==3.7
importlib-metadata==7.1.0
ipykernel==6.28.0
ipython==8.20.0
ipywidgets==8.1.2
jedi==0.18.1
jinja2==3.1.4
joblib==1.4.2
json5==0.9.6
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.19.2
keras==3.3.3
kiwisolver==1.4.5
markdown==3.6
matplotlib-inline==0.1.6
mistune==2.0.4
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
notebook==7.0.8
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pillow==10.3.0
pip==24.0
prometheus-client==0.14.1
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
python-dateutil==2.9.0
pyyaml==6.0.1
pyzmq==25.1.2
requests==2.32.2
scipy==1.13.1
send2trash==1.8.2
setuptools==69.5.1
six==1.16.0
sqlite==3.45.3
stack-data==0.2.0
tensorboard==2.16.2
termcolor==2.4.0
terminado==0.17.1
tornado==6.4
traitlets==5.7.1
urllib3==2.2.1
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==3.0.3
widgetsnbextension==4.0.10
wrapt==1.16.0
zipp==3.17.0